.App {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #ffa198;
}
nav {
  display: flex;
  justify-content: space-around;
}

#logout {
  border: none;
  background-color: inherit;
  text-decoration: underline;
}
