.App {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #ffa198;
  padding: 2%;
}
nav {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

form input {
  margin-bottom: 20px;
}

.active {
  color: #000000;
  text-decoration: none;
}

.form-wrapper {
  border: 2px solid #7e7e7e;
  padding: 2%;
  padding-top: 0;
  max-width: 350px;
  width: 100%;
  margin: 30px auto;
}

#logout {
  border: none;
  background-color: inherit;
  text-decoration: underline;
}
